<div class="vertical-center-flex" style="margin-top:15vh">
  <div class="login-container center-block">

    <div class="panel panel-primary boxshadow">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> Change Password
        <button *ngIf="isModal" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="col-md-8 col-md-offset-2">
          <form *ngIf="formResetToggle" class="form-horizontal login" name="loginForm" #f="ngForm" novalidate
                (ngSubmit)="true ? changePassword() :
                          (password.hasError('required') && showErrorAlert('Old Password is required', 'Please enter a valid password'));
                          (newpassword.hasError('required') && showErrorAlert('New Password is required', 'Please enter a valid new password'));
                          (confirmpassword.hasError('required') && showErrorAlert('Confirm Password is required', 'Please enter a valid confirm password'));
                          (confirmpassword.hasError('validateEqual') && showErrorAlert('Password and Confirm Password should match', 'Password and Confirm New Password do not match'))">
              <div class="form-group has-feedback">
              <label class="control-label col-md-2" for="login-password">Old Password:</label>
              <div class="col-md-10" [ngClass]="{'has-success': f.submitted && password.valid, 'has-error' : f.submitted && !password.valid}">
                <input type="password" id="login-oldpassword" name="password" placeholder="Enter password" class="form-control" [(ngModel)]="userLogin.password" #password="ngModel" required />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': password.valid, 'glyphicon-remove' : !password.valid}" aria-hidden="true"></span>
                <span class="errorMessage" *ngIf="f.submitted && password.hasError('required')">
                  Old Password is required
                </span>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label col-md-2" for="login-password">New Password:</label>
              <div class="col-md-10" [ngClass]="{'has-success': f.submitted && newpassword.valid, 'has-error' : f.submitted && !newpassword.valid}">
                <input type="password" id="login-password" name="newpassword" placeholder="Enter New password" class="form-control" [(ngModel)]="userLogin.newPassword" #newpassword="ngModel" required />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': newpassword.valid, 'glyphicon-remove' : !newpassword.valid}" aria-hidden="true"></span>
                <span class="errorMessage" *ngIf="f.submitted && newpassword.hasError('required')">
                  New Password is required
                </span>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label class="control-label col-md-2" for="login-password">Confirm New Password:</label>
              <div class="col-md-10" [ngClass]="{'has-success': f.submitted && confirmpassword.valid, 'has-error' : f.submitted && !confirmpassword.valid}">
                <input type="password" id="login-confirmpassword" name="confirmpassword" placeholder="Enter confirm new password" class="form-control" [(ngModel)]="userLogin.confirmPassword" #confirmpassword="ngModel" validateEqual="newpassword" required />
                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': confirmpassword.valid, 'glyphicon-remove' : !confirmpassword.valid}" aria-hidden="true"></span>
                <span class="errorMessage" *ngIf="f.submitted && confirmpassword.hasError('required')">
                  Confirm New Password is required
                </span>
                <div>
                  <span class="errorMessage" *ngIf="f.submitted && confirmpassword.hasError('validateEqual')">
                    Password and Confirm New Password do not match
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" [disabled]="isLoading"><i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> Change Password</button>
              </div>
            </div>

          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
