<div class="container-fluid sidebar-page-container-admin font-opensans">
  <div class="row clearfix">
    <div class="sidebar-side col-md-2 col-sm-4 col-xs-12">
      <aside class="sidebar">
        <!--Blog Category Widget-->
        <div class="sidebar-widget sidebar-widget-admin sidebar-blog-category">
          <ul class="blog-cat-two">
            <li><a href="AmarkAdmin.html">Dashboard</a></li>
            <li><a href="" class="active">Users</a></li>
            <li><a href="">Roles</a></li>
            <li><a href="">Announcements</a></li>
            <li><a href="">Prices</a></li>
            <li><a href="">Configuration</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</div>
