<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:/GlobalErrorHandlingLogs/internal_logs/internallog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="allfile" fileName="c:/AMarkTradingPortal/Logs/${shortdate}_logfile.txt"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target name="database" xsi:type="Database">
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        Insert into dbo.NLog  (
        Level,
        ShortMessage,
        FullMessage,
        IpAddress,
        CustomerId,
        PageUrl,
        LogUniqueId,
        CreatedOnUtc) values (
        @Level,
        @ShortMessage,
        @FullMessage,
        @IpAddress,
        NULLIF(@CustomerId,''),
        @PageUrl,
        @LogUniqueId,
        @CreatedOnUtc
        )
      </commandText>
      
      <parameter name="@level" layout="${level}" />
      <parameter name="@shortmessage" layout="${event-properties:item=ShortMessage}" />
      <parameter name="@fullmessage" layout="${event-properties:item=FullMessage}" />
      <parameter name="@ipaddress" layout="${mdc:item=IpAddress}" />
      <parameter name="@customerid" layout="${mdc:item=CustomerId}" />
      <parameter name="@pageurl" layout="${mdc:item=PageUrl}" />
      <parameter name="@loguniqueid" layout="${mdc:item=LogUniqueId}" />
      <parameter name="@createdonutc" layout="${date:universalTime=true}" />
    </target>
  </targets>

  <rules>
    <logger name="DbLogger" minlevel="Debug" writeTo="database" />
    <logger name="FileLogger" minlevel="Debug" writeTo="allfile" />
  </rules>
</nlog>